.navbar-light .navbar-toggler {
  border-color: grey;
  border-radius: 50px;
  opacity: 0.8;
}

.navbar {
  border-bottom: 1px hidden;
  padding: 10px;
  box-shadow: 2px 1px 8px #888888;
}

.mr-auto, .mx-auto {
    margin-right: 0px !important;
}

h4 {
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
  color: #339e01;
}

div.bd-example {
  margin-top: auto;
}

a.navbar-brand img {
  border-radius: 50%;
}

span.d-inline-block {
  margin-top: 10%;
}

.visualizing-button button {
  margin-top: 2%;
  background-color: #339e01;
  margin-bottom: 2%;
}

.visualizing-button button:hover {
  background-color: #339e01;
}

.mb-0 {
  margin-top: 2%;
  text-align: center;
}

.carousel-inner {
  border-bottom: 1px hidden;
  padding: 0px;
  box-shadow: 2px 1px 8px #339e01;
}

.connection-button button {
  background-color: #339e01;
  margin-top: 60%;
}

.connection-button button:hover {
  background-color: #339e01;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  content: "I";
}

/* Rounded sliders */
.slider.round {
  border-radius: 38px;
}

.slider.round:before {
  content: "0";
  border-radius: 60%;
}

#customRange2 {
  margin-top: 5%;
  padding-left: 8%;
  padding-right: 8%;
}

@media screen and (min-width:450px) {
  .mr-auto, .mx-auto {
    margin-right: 35%!important;
    margin-left: 39%!important;
  }
}

#btn-collapse-data {
  background-color: #339e01;
  margin-top: 5%;
  padding: 2%;
  padding-left: 15%;
  padding-right: 15%;
  width: 50%;

}

#btn-collapse-data-first {
  background-color: #339e01;
  margin-top: 5%;
  padding: 2%;
  padding-left: 15%;
  padding-right: 15%;
  width: 50%;
}

#btn-collapse-data-last {
  background-color: #339e01;
  margin-top: 5%;
  padding: 2%;
  padding-left: 15%;
  padding-right: 15%;
  width: 50%;
}

#btn-collapse-data-last {
  margin-bottom: 10%;
}

#btn-collapse-data:hover {
  background-color: blue;
}

#btn-collapse-data-first:hover {
  background-color: #9400D3;
}

#btn-collapse-data-last:hover {
  background-color: red;
}

#popChart {
  max-width: 400px;
  max-height: 400px;
  margin: auto;
}

#popChart1 {
  max-width: 400px;
  max-height: 400px;
  margin: auto;
}

#popChart2 {
  max-width: 400px;
  max-height: 400px;
  margin: auto;
  margin-bottom: 10%;
}
